<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>Online Shopper</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
      <a href="/auth/logout">logout</a>
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
          <div class="row">
          </div>
        <div class="row">
          <% products.forEach(({title,description,image}) =>{%>
            <div class="col-md-4" style="width:20rem;">
              <div class="card">
                <img
                src="<%= image %> "
                class="card-img-top"
                alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><%= title %> </h5>
                  <p class="card-text">
                    <%= description %> 
                  </p>
                </div>
              </div>
            </div>   
            <%})%> 
        
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



